.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5vh;
  max-width: 1200px; /* Set a max-width for your content */
  margin: 0 auto; /* Center the content horizontally */
  padding: 0 20px; /* Add some horizontal padding for smaller screens */
}
.meme--img {
  width: 477px;
  height: 268px;
  object-fit: cover;
}
